@{
    ViewBag.Title = "Danh sách câu hỏi";
}
@section head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">
}

@section scripts {
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <script src="~/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/AdminJs/question.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
}



<div x-data="questions">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Danh sách câu hỏi</h4>
                </div><!-- end card header -->

                <div class="card-body">
                    <div id="customerList">
                        <div class="row g-4 mb-3">
                            <div class="col-sm-auto">
                                <div>
                                    <button type="button" class="btn btn-primary add-btn"
                                            x-on:click="OpenModalAdd()">
                                        <i class="ri-add-line align-bottom me-1"></i> Thêm câu hỏi
                                    </button>
                                    <button class="btn btn-soft-danger"
                                            onClick="deleteMultiple()">
                                        <i class="ri-delete-bin-2-line"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="d-flex justify-content-sm-end">
                                    <div class="search-box ms-2">
                                        <input type="text" class="form-control search" id="searchInput" x-model="searchTerm"
                                               placeholder="Tìm kiếm câu hỏi...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive table-card mt-3 mb-1">

                            <table class="table align-middle table-nowrap" id="customerTable">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col" style="width: 50px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th>Id</th>
                                        <th width="650px">Nội dung câu hỏi</th>
                                        <th>Tên môn học</th>
                                        <th>Độ khó</th>
                                        <th>Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    <template x-for="item in paginatedList">
                                        <tr>
                                            <th scope="row">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="chk_child" value="option1">
                                                </div>
                                            </th>
                                            <td class="id_student" x-text="item.rowIndex"></td>
                                            <td class="content" x-html="item.content"></td>
                                            <td class="subject" x-text="item.subjectName"></td>
                                            <td class="subject" x-text="item.level"></td>
                                            <td>
                                                <div class="d-flex gap-2">
                                                    <div class="edit">
                                                        <a class="btn btn-sm edit-item-btn link-primary fs-15"
                                                           x-on:click="OpenModalEdit(item.id)">
                                                            <i class="ri-edit-2-line"></i>
                                                        </a>
                                                    </div>
                                                    <div class="remove">
                                                        <a class="btn btn-sm remove-item-btn link-danger fs-15"
                                                           x-on:click="DeleteQuestion(item.id)">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>

                            <template x-if="paginatedList.length == 0">
                                <div class="noresult">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                   trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                                   style="width:75px;height:75px"></lord-icon>
                                        <h5 class="mt-2">Xin lỗi! không tìm thấy</h5>
                                        <p class="text-muted mb-0">
                                            hãy nhập lại tên mà bạn muốn tìm kiếm
                                        </p>
                                    </div>
                                </div>
                            </template>
                        </div>

                        <template x-if="paginatedList.length != 0">
                            <!-- Pagination controls -->
                            <div class="d-flex justify-content-end mt-3">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item" :class="{ 'disabled': currentPage === 1 }">
                                            <a class="page-link" href="#" @@click.prevent="prevPage">
                                                <i class="mdi mdi-chevron-left"></i>
                                            </a>
                                        </li>
                                        <template x-for="page in totalPages">
                                            <li class="page-item" :class="{ 'active': currentPage === page }">
                                                <a class="page-link" href="#" @@click.prevent="goToPage(page)" x-text="page"></a>
                                            </li>
                                        </template>
                                        <li class="page-item" :class="{ 'disabled': currentPage === totalPages }">
                                            <a class="page-link" href="#" @@click.prevent="nextPage">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </template>
                    </div>
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <partial name="_modalUpSert" model="null" />

</div>
